<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://m.media-amazon.com/images/M/MV5BZDY0YzI0OTctYjVhYy00MTVhLWE0NTgtYTRmYTBmOTE3YTViXkEyXkFqcGdeQXVyMTUzMTg2ODkz._V1_SX300.jpg" class="d-block w-100 carousel-img mx-auto" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Kung Fu Panda 4</h5>
          <p>After Po is tapped to become the Spiritual Leader of the Valley of Peace, he needs to find and train a new Dragon Warrior, while a wicked sorceress plans to re-summon all the master villains whom Po has vanquished to the spirit realm.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://m.media-amazon.com/images/M/MV5BNGZjYzE4M2MtNmE5ZC00MjdkLThmYTAtNTAyNjQyN2Q4YmVlXkEyXkFqcGdeQXVyMDM2NDM2MQ@@._V1_SX300.jpg" class="d-block w-100 carousel-img mx-auto" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Deadpool & Wolverine</h5>
          <p>Wolverine is recovering from his injuries when he crosses paths with the loudmouth, Deadpool. They team up to defeat a common enemy.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://m.media-amazon.com/images/M/MV5BYTk2YjE4MjgtYWEzYy00NzY3LTk4MzktZTNhZjlhOTJhNDZjXkEyXkFqcGdeQXVyMjQwMDg0Ng@@._V1_SX300.jpg" class="d-block w-100 carousel-img mx-auto" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Beetlejuice Beetlejuice</h5>
          <p>This is a follow-up to the comedy Beetlejuice (1988), about a ghost who's recruited to help haunt a house.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>