.movie-details-container{
  display: flex;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  color: #333;
  align-items: center;
  position: relative;
  margin: 20px;
}
  
.movie-poster{
  flex: 0 0 300px;
  margin-right: 20px;
}
  
.movie-poster img{
  width: 100%;
  height: auto;
  border-radius: 5px;
}
  
.movie-info{
  flex: 1;
  display: flex;
  flex-direction: column;
}
  
.movie-info h1{
  font-size: 2em;
  color: #007bff;
  margin-bottom: 0.5em;
}
  
.movie-info p{
  margin: 0.25em 0;
  line-height: 1.6;
}
  
.movie-info p strong{
  color: #555;
}
  
.genre{
  color: 007bff;
  font-weight: bold;
  margin: 0;
}
  
.rating{
  color: #dc3545; 
}
  
.language{
  color: #28a745; 
}
  
.awards{
  display: flex;
  align-items: center;
  font-weight: bold;
}
  
.awards i.bi{
  margin-right: 5px;
  color: #ffc107;
}

.genre-box{
  display: inline-block;
  border: 1px solid #ccc; 
  padding: 5px 10px;
  border-radius: 5px; 
  max-width: max-content; 
}

.rating-badge{
  display: inline-block;
  padding: 0.25em 0.6em;
  font-size: 0.75em;
  color: #fff;
  background-color: #007bff;
  border-radius: 10px; 
  margin-bottom: 5px;
}

.bi-star{
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px; 
  color: #000000; 
}
  
.bi-star.filled{
  color: gold;
}

.home-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home-content{  
  flex: 1; 
}

  
  
  