.site-footer{
    padding: 20px 0;
    background-color: #0072BB;
    text-align: center;
    box-shadow: 0 -10px px -3px rgba(0, 0, 0, 0.1);
}
  
.site-footer p{
    color: #ffffff;
    margin: 0;
    font-size: 16px;
}
  
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto; 
}

  